@model SocialNetwork.ViewModels.UserImageViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<div class="row">
    <div class="col-sm-offset-2 col-sm-8">
        <div class="row">
            <div class="col-sm-offset-2 col-sm-8">
                <img src="~/Images/@Model.FileName" />
            </div>
        </div>
        <div class="row"> 
        </div>
    </div>
</div>
