@model BusinessLogic.Models.User

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Delete Friend</h4>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to delete @Model.FirstName @Model.LastName from yout friend list?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" id="delete-friend-accept" data-userId="@Model.UserID" data-dismiss="modal">Yes</button>
        </div>
    </div>
</div>

<script>
    $(function () {
        friends.init();
    });
</script>