<div class="row friend-search">
    <div class="col-xs-4">
        <div class="form-group">
            <label>Search by first name</label>
            <input type="text" class="form-control" id="search-name" />
        </div>
    </div>

    <div class="col-xs-4">
        <div class="form-group">
            <label>Search by last name</label>
            <input type="text" class="form-control" id="search-last-name" />
        </div>
    </div>

    <div class="col-xs-4">
        <label>Select gender</label>
        <select class="form-control" id="search-gender">
            <option>Select gender</option>
            <option value="0">Male</option>
            <option value="1">Female</option>
        </select>
    </div>
</div>