@model PagedList.IPagedList<SocialNetwork.ViewModels.UserViewModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<div class="alert alert-success">
    <h2>My Friends: </h2>
</div>

<div id="result-container">
    @Html.Partial("_SearchResults")
</div>

<div id="removeFriendModal" class="modal fade" role="dialog">
</div>

@section scripts{
    @Scripts.Render("~/bundles/friends")

    <script>
        $(function () {
            friends.init();
        });
    </script>
}
